html {
  height: 100%;
  width: 100%;
  margin: 0;
  border: 0;
  padding: 0;
}

main {
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#astronaut-image {
  width: 600px;
  height: 400px;
  border-radius: 100%;
}
