html {
  height: 100%;
  width: 100%;
  margin: 0;
  border: 0;
  padding: 0;
}

main {
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.item-section {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.image-item {
    padding: 10px;
    text-align: center;
    align-items: center;
}

.image-item img {
    max-width: 50%;
    height: auto;
}

.item-title {
    font-weight: bold;
}

