<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>HEADER</title>
  <link href="/components/header.css" rel="stylesheet" type="text/css">
</head>
<body>

<header>
  <nav>
      <div id="top-menu">
        <a class="header-item" href="../index.html">HOME</a>
        <a class="header-item" href="/html/events.html">EVENTOS</a>
        <a class="header-item" href="/html/contact.html">CONTATO</a>
        <a class="header-item" href="/html/signin.html">ENTRAR</a>
        <div class="dropdown">
          <a class="header-item">CURSOS</a>
          <div class="dropdown-content">
            <a href="/html/analiseSistemas.html">Análise e Desenvolvimento de sistemas</a>
            <a href="/html/engenhariaProd.html">Engenharia de Produção</a>
            <a href="/html/gestaoSistemas.html">Gestão em Tecnologia da Informação</a>
            <a href="/html/letras.html">Letras</a>
            <a href="/html/gestaoPublica.html">Gestão Pública</a>
          </div>
        </div>
      <a class="header-item" href="/html/about.html">SOBRE</a>
    </div>
  </nav>
  <div id="logo">
    <img src="/images/Logo.jpg" alt="Logo do Instituto Federal de São Paulo com fonte branca e fundo verde" />
  </div>
</header>
</body>
</html>


